@model PickC.External.Contracts.CustomerInquiry
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="clear-fix"></div>
    <div class="container">
        <div class="row">
            <div class="heading-title">
            </div>
            <div class="services-main">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <div id="imageHolder" class="sidebar sidebar-right">
                        <h3 class="widget-title">Customer Support</h3>
                        <div class="support">
                            <img src="@Url.Content("~/images/support.jpg")" class="image-responsive center-block" style="width:310px; margin-bottom:10px;" />
                            <a href="tel:+914065454222" class="btn-feedback center-block solid blank">
                                <i class="fa fa-phone"></i>&nbsp; +91. 40. 6 5454 222
                            </a>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 cs" style="display:none">
                    <div class="sidebar sidebar-right">
                        <div class="widget">
                           <div class="row" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding-bottom: 30px;padding-top: 10px;">
                                <div class="col-md-12">
                                    <div>
                                        <div class="col-md-8 col-md-offset-2">
                                            <div class="support"> 
                                                <img src="@Url.Content("~/images/support.jpg")" class="image-responsive center-block" style="width:310px; margin-bottom:10px;" />
                                                <a href="tel:+914065454222" class="btn-feedback center-block solid blank">
                                                    <i class="fa fa-phone"></i>&nbsp; +91. 40. 6 5454 222
                                                </a>
                                                <p>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Widget end -->
                    </div>
                    <!-- Sidebar end -->
                </div>
                <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12  fd" style="display:none">
                    <div class="sidebar sidebar-right">
                        <div class="widget">
                            <div class="row" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding-bottom: 30px; padding-top: 10px;">
                                <div class="col-md-12">
                                    <div class="">
                                        <div class="col-md-12">
                                            <div class="support">
                                                <img src="@Url.Content("~/images/support.jpg")" class="image-responsive center-block" style="width:310px; margin-bottom:10px;" />
                                            </div>
                                            <div class="support">
                                                <a class="btn-feedback center-block solid blank" style="text-transform:lowercase;" type="submit">
                                                    <i class="fa fa-envelope-o"></i>&nbsp;
                                                    info@pickcargo.in
                                                </a>
                                                <p>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Widget end -->
                    </div>
                    <!-- Sidebar end -->
                </div>
            </div>
            <div class="col-md-6">
@using (Html.BeginForm("ContactUsSave", "Dashboard", FormMethod.Post, new { id = "frmContactSave", name = "frmContactSave" }))
{
    <div class="">
        <div class="col-md-12">
            <h3><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;Write To Us</h3>
        </div>
        <div class="col-md-12">
            <div class="form-group select contact-input">
                @Html.DropDownListFor(x => x.InquiryType, new SelectList(ViewBag.Customer, "Value", "Text"), "", new { @class = "form-control spacing",@id="CustomerSelect" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group contact-input">
                @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control spacing alphaonly", placeholder = "Enter Name", id = "nme" })
            </div>
            <div class="form-group contact-input">
                @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control spacing", id = "eml", placeholder = "Enter EmailId" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group contact-input">
                @Html.TextBoxFor(x => x.MobileNo, new { @class = "form-control spacing numCss MobileNoCss", id = "mbl", maxlength = "10", placeholder = "Enter Mobile Number" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group contact-input">
                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control spacing ", id = "sbj", placeholder = "Enter Subject" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control input-align", id = "msg", @rows = "3", @cols = "30" })
            </div>
            <button type="button" onclick="OnSubmit()" id="btnsubmit" class="btn btn-primary">Submit</button>
        </div>
    </div>
}

            </div>
        </div>
    </div>
    <div class="clear-fix"></div>


    @section Scripts{
<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
        
<script type="text/javascript">
            $(function () {
                debugger;
                OnChange();
                //$('#Type').on('change', function () {

                //});
            });
            function OnChange() {
                $('#CustomerSelect').val("1505");
            }
            //function changeSupport() {
            //    var i = $('#Type').val();
            //    debugger;
            //    if (i == "ContactUs") {
            //        $('.cn').show();
            //        $('.cs').hide();
            //        $('.fd').hide();
            //    }
            //    if (i == "CustomerSupport") {
            //        $('.cs').show();
            //        $('.cn').hide();
            //        $('.fd').hide();
            //    }
            //    if (i == "FeedBack") {
            //        $('.fd').show();
            //        $('.cn').hide();
            //        $('.cs').hide();
            //    }
            //}
            $(function () {
                $('#frmContactSave').validate({
                    rules: {
                        'CustomerName': {
                            required: true
                        },
                        'EmailID': {
                            required: true,
                            email: true
                        },
                        'MobileNo': {
                            required: true
                        }
                    }
                });
            });
            function OnSubmit() {
                if ($('#frmContactSave').valid()) {
                    $('#frmContactSave').submit();
                }
            }
</script>
        }
<style>
    label.error {
        /*margin-left: 340px;*/
        margin-top: -49px;
    }
</style>
    <!--contact section End-->
    <!--Services section Start-->
    