@model PickC.External.Contracts.Booking
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var fareChartList = (List<PickC.External.Contracts.FareChart>)TempData["TD:FareChartList"];
}
@section Styles{
    <style type="text/css">
        .booknow-btn-red {
            background: red;
            color: #fff200;
            position: relative;
            padding: 5px 15px;
            border: 1px solid #000;
            bottom: 8px;
        }
        .form-group {
    margin-bottom: 0px;
}

    </style>
}
<!--main content-->
<div class="container-fluid">
    <div class="row">
        <div class="bg-gif responsiveImage">
            <div class="container-fluid">
                <div class="col-md-4 col-xs-12">

                    <div class="slider-carousel">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                                <li data-target="#myCarousel" data-slide-to="4"></li>
                                <li data-target="#myCarousel" data-slide-to="5"></li>

                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="@Url.Content("~/images/n1.png")" class="img-responsive" alt="">
                                </div>
                                <div class="item">
                                    <img src="@Url.Content("~/images/n2.jpg")" class="img-responsive" alt="">
                                </div>
                                <div class="item">
                                    <img src="@Url.Content("~/images/n8.png")" class="img-responsive" alt="">
                                </div>
                                <div class="item">
                                    <img src="@Url.Content("~/images/n5.jpg")" class="img-responsive" alt="">
                                </div>
                                <div class="item">
                                    <img src="@Url.Content("~/images/n4.jpg")" class="img-responsive" alt="">
                                </div>
                                <div class="item">
                                    <img src="@Url.Content("~/images/amount.png")" class="img-responsive" alt="">
                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="mobile"></div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="main-slider-text">

                    </div>
                    <div class="clear-fix"></div>
                    <div class="estimate-bg">
                        <form action="" id="frmFromToLocation" name="frmFromToLocation">
                            <div class="form-group estimate-form">
                                <input type="text"
                                       name="fromLocation"
                                       class="form-control"
                                       id="fromLocation"
                                       placeholder="Enter From Location" />
                                <img src="@Url.Content("~/images/source1.png")" class="img-responsive" />
                            </div>
                            <div class="form-group estimate-form">
                                <input type="text"
                                       class="form-control"
                                       id="toLocation"
                                       placeholder="Enter To Location"
                                       name="toLocation" />
                                <img src="@Url.Content("~/images/destination1.png")" class="img-responsive" />
                            </div>
                            <a class="btn btn-default btn-focus" onclick="FromToLocations()">Get Trip Estimate</a>
                            <a class="btn btn-primary" href="javascript::" onclick="Clear()">Clear</a>
                        </form>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="app-icons-div">
            <div class="container-fluid">

                <div class="col-md-3 app-icons">
                    <a href="#"><img src="@Url.Content("~/images/goo.png")" /></a>
                    <a href="#"><img src="@Url.Content("~/images/app.png")" /></a>
                </div>
                <div class="col-md-6">
                    <div class="slider-text">
                        <h1>Pick-C India’s Best Logistics App</h1>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="track-crn-btn">Track Cargo with CRN</button>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("TripEstimate", "CustomerInquiry", FormMethod.Post, new { id = "frmTripEstimate", name = "frmTripEstimate" }))
{
    <div class="modal fade" id="get-trip-estimate" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog center-modal modal-sm">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.TextBox("CustomerName", "", new { placeholder = "Enter Name", @class = "form-control alphaonly", @id = "CustomerName" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.TextBox("MobileNo", "", new { placeholder = "Enter Mobile Number", @class = "form-control numCss MobileNoCss", @id = "MobileNo" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.TextBox("EmailID", "", new { placeholder = "Enter Email ID", @class = "form-control", @id = "EmailID" })
                            @Html.Hidden("Distance")
                            @Html.Hidden("Duration")
                            @Html.Hidden("frmLatLog")
                            @Html.Hidden("toLatLog")
                            @Html.Hidden("fromLocation")
                            @Html.Hidden("toLocation")
                            @Html.Hidden("fLoc")
                            @Html.Hidden("tLoc")
                        </div>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" onclick="TripEstimate()" class="btn get-estimate-btn" >
                        Get Estimate Now
                    </button>
                    <!--data-toggle="modal" data-target="#prices-list" data-dismiss="modal"-->
                </div>
            </div>
        </div>
    </div>
}
@*@{ 
    var queryStatus=(string)TempData["DisplayMessage"];
}
if (queryStatus != null)
{
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div>
                    <b>Booking Status: </b><span>@queryStatus</span>
                </div>
                @*<div>
                    <b>Booking ID: </b><span>Your CRN is : @bookingStatus.BookingNo</span>
                </div>*@
            @*</div>

        </div>
    </div>
</div>*@

@{
    var bookingStatus = (PickC.External.ViewModels.BookingStatusVm)TempData["TD:BookingInfo"];
}

@if (bookingStatus != null)
{
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div>
                        <span>@bookingStatus.Status</span>
                    </div>
                    <div>
                        <span>Your CRN is : @bookingStatus.BookingNo</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*<div class="modal fade" role="dialog" id="modalBookingStatus">
        <div class="modal-dialog scroll center-modal">
            <div class="modal-content">
                <div class="modal-header custom-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Booking Status</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Booking Stauts</h4>:@bookingStatus.Status
                        </div>
                        <div class="col-md-12">
                            <h4>BookingNo</h4>:
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
}
@*@{
    var queryStatus = TempData["DisplayMessage"];
}
@if (queryStatus != null)
{

    <div class="modal fade" id="queryModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div>
                        <span><b>@queryStatus</b></span>
                    </div>
                    @*<div>
                            <b>Booking ID: </b><span>Your CRN is : @bookingStatus.BookingNo</span>
                        </div>
                </div>

            </div>
        </div>
    </div>
}*@
<div class="modal fade" id="prices-list" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog scroll center-modal">
        <div class="modal-content">
            <div class="modal-header custom-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Approx. Estimate Fare</h4>
            </div>
            <div class="modal-body">
                <div class="row space-top prices-list-bg">
                    <div class="col-md-4 col-xs-4 custom-height">
                        <div class="pricelist-logo">
                            <img src="@Url.Content("~/images/logo.png")" class="img-responsive" alt="pickcargo logo" />
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 custom-height">
                        <div class="open-close-img">
                            <img src="@Url.Content("~/images/open.png")" class="img-responsive" alt="" />
                        </div>
                        <h5 class="inline">Open Truck</h5>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="open-close-img">
                            <img src="@Url.Content("~/images/closed.png")" class="img-responsive" alt="" />
                        </div>
                        <h5 class="inline">Close Truck</h5>
                    </div>
                </div>
                @if (fareChartList != null)
                {
                    for (var i = 0; i < fareChartList.Count; i++)
                    {
                        <div class="row space-top">
                            <div class="col-md-4 col-xs-4 custom-height custom-truck-div">
                                <div class="vehicle-types">
                                    <div class="icon">
                                        <img src="@Url.Content("~/images/" + fareChartList[i].vehicleGroupDesc + ".png")" class="img-responsive" alt="Mini-Truck" />
                                    </div>
                                    <h3>@fareChartList[i].vehicleGroupDesc</h3>
                                </div>
                            </div>
                            <div class="color-bg">
                                <div class="col-md-4 col-xs-4 custom-height">
                                    <div class="Prices-list">
                                        <h3>&#x20B9;@fareChartList[i].OpenCharge.ToString("0.##")</h3>
                                        <a href="#" data-vgroup="@fareChartList[i].vehicleGroupDesc" @if(fareChartList[i].IsOpenOnline) { <text>onclick="bookingSave('@fareChartList[i].vehicleGroup', '1300')" </text> } data-open="@fareChartList[i].OpenCharge.ToString("0.##")" data-close="0" id="OpenCharge_@i" @if (fareChartList[i].IsOpenOnline) { <text> class="booknowactive-btn" </text>  } else { <text> class="booknow-btn-red context" </text> }>Book Now</a><!--<div class="avail-unavail-btn"></div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 custom-height">
                                <div class="Prices-list">
                                    <h3>&#x20B9;@fareChartList[i].CloseCharge.ToString("0.##")</h3>
                                    <a href="#" data-vgroup="@fareChartList[i].vehicleGroupDesc" @if (fareChartList[i].IsCloseOnline) { <text>onclick="bookingSave('@fareChartList[i].vehicleGroup', '1301')"</text>} data-close="@fareChartList[i].CloseCharge.ToString("0.##")" data-open="0" id="CloseCharge_@i" @if (fareChartList[i].IsCloseOnline) { <text> class="booknowactive-btn"</text>  } else { <text> class="booknow-btn-red context" </text> }>Book Now</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="modal-footer custom-footer">
                <h4 class="note-text"><strong>Note:&nbsp;</strong>This is an approximate estimate.Actual fare and travel time may differ.</h4>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm("SaveBooking", "Dashboard", FormMethod.Post, new { id = "frmBooking", name = "frmBooking" }))
{
    @Html.Hidden("CustomerId")
    @Html.Hidden("CustomerName")
    @Html.Hidden("LocationFrom")
    @Html.Hidden("LocationTo")
    @Html.Hidden("Latitude")
    @Html.Hidden("Longitude")
    @Html.Hidden("ToLatitude")
    @Html.Hidden("ToLongitude")
    @Html.Hidden("VehicleType")
    @Html.Hidden("VehicleGroup")

}

<!-- modals content-->
@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7WVBL9AmhKs1QAr4x7mArA2mKZY-9nUo&v=3.exp&libraries=places&sensor=true"></script>


    <script type="text/javascript">
        $(document).on('keypress', '.numCss', function (evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode >= 48 && charCode <= 57) || charCode == 8)
                return true;
            else
                return false;
        });
        var source, destination;
        var directionsDisplay;
        var options = {};

        var southWest = new google.maps.LatLng(52.318274, 4.728856);
        var northEast = new google.maps.LatLng(52.431157, 5.068373);
        var defaultBounds = new google.maps.LatLngBounds(southWest, northEast);
        options = {
            bounds: defaultBounds,
            types: ['address'],//geocode
            componentRestrictions: { country: 'in' }
        };
        var directionsService = new google.maps.DirectionsService();
        google.maps.event.addDomListener(window, 'load', function () {
            new google.maps.places.Autocomplete(document.getElementById('fromLocation'), options);
            new google.maps.places.Autocomplete(document.getElementById('toLocation'), options);
            directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': true });
        });
        //$('#prices-list').modal({
        //    backdrop: 'static',
        //    keyboard: false
        //});

        function bookingSave(vehicleGroup, vehicleType) {
            @{
                    var customerInquiryVm = (PickC.External.ViewModels.CustomerInquiryVm)TempData["TD:CustomerInquiry"];

                    if (customerInquiryVm != null)
                    {
                <text>
            $('#CustomerId').val('@customerInquiryVm.MobileNo');
            $('#CustomerName').val('@customerInquiryVm.CustomerName');
            $('#LocationFrom').val('@customerInquiryVm.fLoc');
            $('#LocationTo').val('@customerInquiryVm.tLoc');
            $('#Latitude').val('@customerInquiryVm.frmLatLog.Split(' ')[0]');
            $('#Longitude').val('@customerInquiryVm.frmLatLog.Split(' ')[1]');
            $('#ToLatitude').val('@customerInquiryVm.toLatLog.Split(' ')[0]');
            $('#ToLongitude').val('@customerInquiryVm.toLatLog.Split(' ')[1]');
            $('#VehicleType').val(vehicleType);
            $('#VehicleGroup').val(vehicleGroup);
            $('#frmBooking').submit();
            </text>
                }
            }
        }
        $(function () {
            @{
                var isTripEstimate = ViewData["vdIsTripEstimate"];
                if (isTripEstimate != null && (bool)isTripEstimate && fareChartList != null)
                {
                    <text>
            $('#prices-list').modal('show');
            </text>
                }
            }
            @if(bookingStatus != null)
            {

                <text>
            $('#myModal').modal('show');
            </text>
            }
              @*@if(queryStatus != null)
              {

                  <text>
            $('#queryModal').modal('show');
                  </text>
              }*@
        
            @*@{
    var queryStatus = TempData["TD:BookingInfo"];
    if (queryStatus != null)
    {
    <text>
            alert(queryStatus);
            </text>
        }
    }*@


            @*$('.cls').on('click', function () {
                debugger;
                var vanGroup = $(this).attr('data-vgroup');
                var openPrice = $(this).attr('data-open');
                var closePrice = $(this).attr('data-close');
                var vehicletypeLookupId;
                var vehicleGrouplookupId;


                if (closePrice > 0)
                    vehicletypeLookupId = 1301;

                if (openPrice > 0)
                    vehicletypeLookupId = 1300;

                if (vanGroup == "mini")
                    vehicleGrouplookupId = 1000;
                else if (vanGroup == "small")
                    vehicleGrouplookupId = 1001;
                else if (vanGroup == "Medium")
                    vehicleGrouplookupId = 1002;
                else
                    vehicleGrouplookupId = 1003;


                var obj = {}
                var CustomerObj = JSON.parse(localStorage.getItem('CustomerObj'));
                var frmlatlong = JSON.parse(localStorage.getItem('latlong'));
                var tolatlong = JSON.parse(localStorage.getItem('tolatlong'));

                obj.CustomerId = CustomerObj.CustomerId;
                obj.CustomerName = CustomerObj.CustomerName;
                obj.LocationFrom = frmlatlong.LocationFrom;
                obj.LocationTo = tolatlong.LocationTo;
                obj.Latitude = frmlatlong.lat;
                obj.Longitude = frmlatlong.long;
                obj.ToLatitude = tolatlong.lat;
                obj.ToLongitude = tolatlong.long;
                obj.VehicleType = vehicletypeLookupId;
                obj.VehicleGroup = vehicleGrouplookupId;

                $.ajax({
                    url: '@Url.Content("~/Dashboard/SaveBooking")',
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(obj),
                    success: function (data) {
                        debugger
                        if (data.Status != "")
                            alert(" Booking Confirmed.Your CRN number is:" + data.BookingNo);
                            @*$("#OpenCharge_@i").*@
                        @*else {
                            alert("Booking Failed");
                        }
                    },
                    error: function (err) {
                    }
                })
                debugger;
            });*@
            debugger;
            function ClearTrpEstimate() {

            }
            //$('#get-trip-estimate').on('hidden', function () {
            //    $.clear(this);
            //});
            $('#get-trip-estimate').on('hidden.bs.modal', function () {
                $('#frmTripEstimate')[0].reset();
                $(this).find('form').trigger('reset');
            });

            $('#frmTripEstimate').validate({
                rules: {
                    CustomerName: {
                        required: true,
                        maxlength: 50
                    },
                    MobileNo: {
                        required: true,
                        minlength: 10,
                        maxlength: 10
                        //regex: /^[789]\d{9}$/ ///^[7-9][0-9]{9}$/ //'^[789]\d{9}$'
                    },
                    EmailID: {
                        email: true,
                        required: false,
                        maxlength: 50
                    }
                },
                messages: {
                    CustomerName: {
                        required: 'Please Enter Name'
                    },
                    MobileNo: {
                        required: 'Please enter valid Mobile Number'
                    }
                }
            });
            $('#frmFromToLocation').validate({
                rules: {
                    fromLocation: {
                        required: true
                    },
                    toLocation: {
                        required: true
                    }
                }
            });
        });
        function FromToLocations() {
            debugger

            if ($('#frmFromToLocation').valid()) {
                //var fromLatlong = {};
                //var toLatLong = {};
                $('#frmTripEstimate input[type="text"]').removeClass('error');
                $('#frmTripEstimate label').removeClass('error');
                $('#frmTripEstimate label').empty();

                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({ 'address': $("#fromLocation").val() }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        debugger
                        //fromLatlong.lat = results[0].geometry.location.lat();
                        //fromLatlong.long = results[0].geometry.location.lng();
                        //fromLatlong.LocationFrom = $("#fromLocation").val();
                        //localStorage.setItem("latlong", JSON.stringify(fromLatlong));

                        $('#frmLatLog').val(results[0].geometry.location.lat() + " " + results[0].geometry.location.lng());
                    }
                });
                geocoder.geocode({ 'address': $("#toLocation").val() }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        debugger
                        //toLatLong.lat = results[0].geometry.location.lat();
                        //toLatLong.long = results[0].geometry.location.lng();
                        //toLatLong.LocationTo = $("#toLocation").val();
                        //localStorage.setItem("tolatlong", JSON.stringify(toLatLong));

                        $('#toLatLog').val(results[0].geometry.location.lat() + " " + results[0].geometry.location.lng());
                    }
                });
                $('#get-trip-estimate').modal('show');
            }
            else {
                alert("Please enter From and To locations");
            }
        }
        //$('.booknow-btn-red').click(function () {
        //    alert(" Booking Confirmed.Your CRN number is:BK171100049")
        //})

        var fLoc = '';
        var tLoc = '';
        function TripEstimate() {
            if ($('#frmTripEstimate').valid()) {

                var Obj = {};
                Obj.CustomerName = $("#CustomerName").val();
                Obj.CustomerId = $("#MobileNo").val();
                localStorage.setItem("CustomerObj", JSON.stringify(Obj));
                fLoc = $('#fromLocation').val();
                tLoc = $('#toLocation').val();


                DrawMapNew($('#fromLocation').val(), $('#toLocation').val());



            }
        }

        function DrawMapNew(start, end) {
            fLoc = start;
            tLoc = end;
            debugger;
            $('#pickuparea').html(start);
            $('#dropoffarea').html(end);
            //document.getElementById('dvMap').style.height = '470px';
            //var mapDiv = document.getElementById('dvMap');
            var latlng = new google.maps.LatLng(26.90, 76.35);
            var options = {
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                navigationControl: true,
                scaleControl: true,
                disableDoubleClickZoom: true,
                scrollwheel: false,
                streetViewControl: true
            };
            var waypts = [];
            var request = {
                origin: start,
                destination: end,
                waypoints: waypts,
                optimizeWaypoints: false,
                travelMode: google.maps.DirectionsTravelMode.DRIVING,
                unitSystem: google.maps.DirectionsUnitSystem.METRIC
            };

            directionsService = new google.maps.DirectionsService();
            directionsService.route(request, function (response, status) {
                debugger;
                if (status == google.maps.DirectionsStatus.OK) {

                    var frmLoc = $('#fromLocation').val();
                    debugger;
                    $('#fLoc').val(fLoc);
                    $('#tLoc').val(tLoc);
                    debugger;
                    $('#Distance').val(response.routes[0].legs[0].distance.value / 1000);
                    $('#Duration').val(response.routes[0].legs[0].duration.value / 60);




                    $('#frmTripEstimate').submit();
                    //$('#booking_Latitude').val(response.routes[0].legs[0].start_location.lat());
                    //$('#booking_Longitude').val(response.routes[0].legs[0].start_location.lng());
                    //$('#estdistance').html(response.routes[0].legs[0].distance.text);
                    //$('#esttime').html(response.routes[0].legs[0].duration.text);
                    //var Dist = response.routes[0].legs[0].distance.text;
                    //var Time = response.routes[0].legs[0].duration.text;
                    //document.getElementById("duration1").innerHTML = Time;
                    //document.getElementById("duration2").innerHTML = Time;
                    //document.getElementById("distancesone").innerHTML = Dist;
                    //document.getElementById("distancestwo").innerHTML = Dist;
                }

                //map = new google.maps.Map(mapDiv, options);
                /*  var adUnitDiv = document.createElement('div');



                  var adUnitOptions = {

                      format: google.maps.adsense.AdFormat.BUTTON,

                      position: google.maps.ControlPosition.RIGHT_BOTTOM,

                      publisherId: 'ca-pub-5545853276936929',

                      map: map,

                      visible: true

                  };

                  var adUnit = new google.maps.adsense.AdUnit(adUnitDiv, adUnitOptions);*/



                directionsDisplay = new google.maps.DirectionsRenderer({

                });
                directionsDisplay.setMap(map);
                directionsDisplay.setPanel(document.getElementById('panel'));
                directionsDisplay.setDirections(response);
            });
            $('#tripEstimateModal').modal('show');
        }

        function Clear() {
            $('#fromLocation, #toLocation').val('');
        }
    </script>
   
}
<style>
    .context{
      cursor: not-allowed;
    }
</style>